
<!-- input -->
<!-- <md-input-container>
  <input type="text" mdInput placeholder="Username">
</md-input-container> -->

<!-- md-hint -->
<!-- <md-input-container>
  <input type="text" mdInput placeholder="Username">
  <md-hint>Type a unique username.</md-hint>
</md-input-container> -->

<!-- md-hint -->
<!-- <md-input-container>
  <input type="text" mdInput placeholder="Username">
  <md-hint>Type a unique username.</md-hint>
</md-input-container> -->

<!-- mdSuffix -->
<!-- <md-input-container>
  <input type="text" mdInput placeholder="Username">
  <md-hint>Type a unique username.</md-hint>
  <span class="mdSuffix">@domain.com</span>
</md-input-container> -->

<!-- mdPrefix -->
<!-- <md-input-container>
  <input type="text" mdInput placeholder="Username">
  <md-hint>Type a unique username.</md-hint>
  <span class="mdPrefix">admin.</span>
  <span class="mdSuffix">@domain.com</span>
</md-input-container> -->

<!-- mdError -->
<!-- <md-input-container>
  <input
    ngModel
    name="username" 
    type="text" mdInput placeholder="Username" required>
  <md-hint>Type a unique username.</md-hint>
  <span class="mdPrefix">admin.</span>
  <span class="mdSuffix">@domain.com</span>
  <md-error>
    The username field is required.
  </md-error>
</md-input-container> -->

<!-- mdError & ngIf -->
<md-input-container>
  <input
    ngModel
    #username="ngModel"
    name="username" 
    type="text" mdInput placeholder="Username" required>
  <md-hint>Type a unique username.</md-hint>
  <span class="mdPrefix">admin.</span>
  <span class="mdSuffix">@domain.com</span>
  <md-error *ngIf="username.invalid && username.errors.required">
    The username field is required.
  </md-error>
</md-input-container>