<!-- md-chip -->
<!-- <md-chip-list>
  <md-chip>One</md-chip>
  <md-chip>Two</md-chip>
</md-chip-list> -->

<!-- selected -->
<!-- <md-chip-list>
  <md-chip selected="true">One</md-chip>
  <md-chip>Two</md-chip>
</md-chip-list> -->

<!-- color -->
<!-- <md-chip-list>
  <md-chip selected="true" color="accent">One</md-chip>
  <md-chip>Two</md-chip>
</md-chip-list> -->

<!-- dynamic, select multiple categories -->
<!-- <md-chip-list>
  <md-chip
    (click)="category.selected = !category.selected"
    [selected]="category.selected"
    *ngFor="let category of categories"
    >{{ category.name }}</md-chip>
</md-chip-list> -->

<!-- dynamic, select ONLY ONE CATEGORY -->
<md-chip-list>
  <md-chip
    (click)="selectCategory(category)"
    [selected]="category.selected"
    *ngFor="let category of categories"
    >{{ category.name }}</md-chip>
</md-chip-list>